In [ ]:
import pandas as pd
import numpy as np

In [ ]:
# display setting
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 120)

In [3]:
# Load Dataset
sessions = pd.read_csv("../data/raw/website_sessions.csv")
pageviews = pd.read_csv("../data/raw/website_pageviews.csv")
orders = pd.read_csv("../data/raw/orders.csv")
order_items = pd.read_csv("../data/raw/order_items.csv")
refunds = pd.read_csv("../data/raw/order_item_refunds.csv")
products = pd.read_csv("../data/raw/products.csv")

In [ ]:
for name,df in{
    'sessions':sessions,
    'pageviews':pageviews,
    'orders':orders,
    'order_items':order_items,
    'refunds':refunds,
    'products':products
}.items():
    print(f"\n{name.upper()}")
    print(df.shape)
    display(df.head())

SESSIONS
(472871, 9)

,website_session_id,created_at,user_id,is_repeat_session,utm_source,utm_campaign,utm_content,device_type,http_referer
0,1,2012-03-19 08:04:16,1,0,gsearch,nonbrand,g_ad_1,mobile,https://www.gsearch.com
1,2,2012-03-19 08:16:49,2,0,gsearch,nonbrand,g_ad_1,desktop,https://www.gsearch.com
2,3,2012-03-19 08:26:55,3,0,gsearch,nonbrand,g_ad_1,desktop,https://www.gsearch.com
3,4,2012-03-19 08:37:33,4,0,gsearch,nonbrand,g_ad_1,desktop,https://www.gsearch.com
4,5,2012-03-19 09:00:55,5,0,gsearch,nonbrand,g_ad_1,mobile,https://www.gsearch.com

PAGEVIEWS
(1188124, 4)

   website_pageview_id           created_at  website_session_id pageview_url
0                    1  2012-03-19 08:04:16                   1        /home
1                    2  2012-03-19 08:16:49                   2        /home
2                    3  2012-03-19 08:26:55                   3        /home
3                    4  2012-03-19 08:37:33                   4        /home
4                    5  2012-03-19 09:00:55                   5        /home

ORDERS
(32313, 8)

,order_id,created_at,website_session_id,user_id,primary_product_id,items_purchased,price_usd,cogs_usd
0,1,2012-03-19 10:42:46,20,20,1,1,49.99,19.49
1,2,2012-03-19 19:27:37,104,104,1,1,49.99,19.49
2,3,2012-03-20 06:44:45,147,147,1,1,49.99,19.49
3,4,2012-03-20 09:41:45,160,160,1,1,49.99,19.49
4,5,2012-03-20 11:28:15,177,177,1,1,49.99,19.49

ORDER_ITEMS
(40025, 7)

   order_item_id           created_at  order_id  product_id  is_primary_item  price_usd  cogs_usd
0              1  2012-03-19 10:42:46         1           1                1      49.99     19.49
1              2  2012-03-19 19:27:37         2           1                1      49.99     19.49
2              3  2012-03-20 06:44:45         3           1                1      49.99     19.49
3              4  2012-03-20 09:41:45         4           1                1      49.99     19.49
4              5  2012-03-20 11:28:15         5           1                1      49.99     19.49

REFUNDS
(1731, 5)

   order_item_refund_id           created_at  order_item_id  order_id  refund_amount_usd
0                     1  2012-04-06 11:32:43             57        57              49.99
1                     2  2012-04-13 01:09:43             74        74              49.99
2                     3  2012-04-15 07:03:48             71        71              49.99
3                     4  2012-04-17 20:00:37            118       118              49.99
4                     5  2012-04-22 20:53:49            116       116              49.99

PRODUCTS
(4, 3)

   product_id           created_at                product_name
0           1  2012-03-19 08:00:00      The Original Mr. Fuzzy
1           2  2013-01-06 13:00:00       The Forever Love Bear
2           3  2013-12-12 09:00:00    The Birthday Sugar Panda
3           4  2014-02-05 10:00:00  The Hudson River Mini bear

The user come to website mostly i think google serarch they use mobile or desktop to visit website they visit home page, campain was non brand and mostly they buy the original Mr.Fuzzy product

In [ ]:
def inspect(df,name):
    print("f\n{name}")
    print('_'* 50)
    print(df.dtypes)
    print('\nsample_rows:')
    print(df.head(3))

inspect(sessions, "website_sessions")
inspect(pageviews, "website_pageviews")
inspect(orders, "orders")
inspect(order_items, "order_items")
inspect(refunds, "order_item_refunds")
inspect(products, "products")

f
website_sessions
__________________________________________________
website_session_id     int64
created_at            object
user_id                int64
is_repeat_session      int64
utm_source            object
utm_campaign          object
utm_content           object
device_type           object
http_referer          object
dtype: object

sample_rows:
   website_session_id           created_at  user_id  is_repeat_session utm_source utm_campaign utm_content  \
0                   1  2012-03-19 08:04:16        1                  0    gsearch     nonbrand      g_ad_1
1                   2  2012-03-19 08:16:49        2                  0    gsearch     nonbrand      g_ad_1
2                   3  2012-03-19 08:26:55        3                  0    gsearch     nonbrand      g_ad_1

  device_type             http_referer
0      mobile  https://www.gsearch.com
1     desktop  https://www.gsearch.com
2     desktop  https://www.gsearch.com
f
website_pageviews
__________________________________________________
website_pageview_id     int64
created_at             object
website_session_id      int64
pageview_url           object
dtype: object

sample_rows:
   website_pageview_id           created_at  website_session_id pageview_url
0                    1  2012-03-19 08:04:16                   1        /home
1                    2  2012-03-19 08:16:49                   2        /home
2                    3  2012-03-19 08:26:55                   3        /home
f
orders
__________________________________________________
order_id                int64
created_at             object
website_session_id      int64
user_id                 int64
primary_product_id      int64
items_purchased         int64
price_usd             float64
cogs_usd              float64
dtype: object

sample_rows:
   order_id           created_at  website_session_id  user_id  primary_product_id  items_purchased  price_usd  \
0         1  2012-03-19 10:42:46                  20       20                   1                1      49.99
1         2  2012-03-19 19:27:37                 104      104                   1                1      49.99
2         3  2012-03-20 06:44:45                 147      147                   1                1      49.99

   cogs_usd
0     19.49
1     19.49
2     19.49
f
order_items
__________________________________________________
order_item_id        int64
created_at          object
order_id             int64
product_id           int64
is_primary_item      int64
price_usd          float64
cogs_usd           float64
dtype: object

sample_rows:
   order_item_id           created_at  order_id  product_id  is_primary_item  price_usd  cogs_usd
0              1  2012-03-19 10:42:46         1           1                1      49.99     19.49
1              2  2012-03-19 19:27:37         2           1                1      49.99     19.49
2              3  2012-03-20 06:44:45         3           1                1      49.99     19.49
f
order_item_refunds
__________________________________________________
order_item_refund_id      int64
created_at               object
order_item_id             int64
order_id                  int64
refund_amount_usd       float64
dtype: object

sample_rows:
   order_item_refund_id           created_at  order_item_id  order_id  refund_amount_usd
0                     1  2012-04-06 11:32:43             57        57              49.99
1                     2  2012-04-13 01:09:43             74        74              49.99
2                     3  2012-04-15 07:03:48             71        71              49.99
f
products
__________________________________________________
product_id       int64
created_at      object
product_name    object
dtype: object

sample_rows:
   product_id           created_at              product_name
0           1  2012-03-19 08:00:00    The Original Mr. Fuzzy
1           2  2013-01-06 13:00:00     The Forever Love Bear
2           3  2013-12-12 09:00:00  The Birthday Sugar Panda

Order table is core table because it almost conneted to every table

## Star Schema Design

### FACT TABLES

### Fact_Sales (from orders + order_items)
Stores each product-level sales transaction.

- order_id: Unique identifier for each order
- order_item_id: Unique identifier for each item in an order
- product_id: Product sold
- website_session_id: Website session that led to the purchase
- created_at: Order creation date
- price_usd: Price of the product
- quantity: Quantity sold
- revenue: price_usd Ã— quantity

---

### Fact_Refunds (from order_item_refunds)
Stores refund events for sold products.

- order_item_id: Refunded order item
- refund_amount: Amount refunded
- refund_date: Date of refund

---

### DIMENSION TABLES

### Dim_Session (from website_sessions)
Stores marketing and device context of user visits.

- session_id: Unique website session identifier
- user_id: User identifier
- utm_source: Marketing source
- utm_campaign: Campaign name
- device_type: Device used
- created_at: Session start date

---

### Dim_Product (from products)
Stores product details.

- product_id: Unique product identifier
- product_name: Name of the product
- product_category: Category of the product
- created_at: Product launch date

---

### Dim_Date (derived table)
Stores calendar attributes for time-based analysis.

- date: Calendar date
- year: Year
- month: Month
- quarter: Quarter
- week: Week number